@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  background: #141414 !important;
  // background-image: url('https://wallpaperaccess.com/full/4131921.jpg');
  color: #ffffff !important;
}
.signIn-form{
  // background: grey !important;
}

.animeRow{
  overflow-x: auto !important;
  flex-wrap: nowrap !important;
}
.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

// .NavBar {
//   display: flex;
//   justify-content: space-around;
//   width: 100%;
//   background-color: #f0f0f0;
// }
//
// .HomePage {
//
// }
//
// .AboutPage {
//
// }
//
// .ContactPage{
//
// }
//
// .AppPage {
//   background-image: url("https://wallpaperaccess.com/full/4131921.jpg") ;
//   background-attachment: fixed;
//
// }
//
//
// .topAnimeList{
//   background: rgba(15, 101, 103, .8);
//   font-size: 30px;
//   border: solid black;
//   border-radius: 30px;
//   height: 500px;
//   width: 400px;
//   text-align: center;
// }
// .searchedAnime{
//   font-size: 30px;
//   background: rgba(163,42,29, .8);
//   border: solid black;
//   border-radius: 30px;
//   width: 100%;
//   text-align: center;
// }
// .ulTopAnimes{
//   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
//   color: black;
//   display: grid;
//   grid-template-columns: 380px 380px 380px 380px;
//   grid-column-gap: 50px;
//   grid-row-gap: 10px;
//   justify-content: center;
//   margin-top: 100px;
// }
// .topAnimesTitles{
//   height: 90px;
// }
// #topAnimesImages{
//   border: solid white;
//   height: 315px;
//   width: 225px;
// }
// .searchDiv{
//   width: 550px;
//   font-size: 27px;
//   margin:auto;
//   text-align: center;
//   color: rgb(15, 101, 103);
//   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
// }
// #animeSearch{
//   font-size: 75px;
//   width: 550px;
//   height: 110px;
//   border: solid black;
//   border-radius: 20px;
//   background: rgba(100, 100, 100, .9);
// }
// .synopsis{
//   background: rgba(255, 218, 199, .5);
//   border: solid black;
//   border-radius: 20px;
//   color: black;
//   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
// }
// #searchedTitle{
//   color: black;
//   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
// }
// #searchForm{
//   margin-top: 20px;
// }
// #searchedScore{
//   color: white;
//   font-size: 20px;
// }
// .deleteBtn{
//   height: 62px;
//   width: 75px;
//   border-radius: 20px;
//   background: rgba(163,42,29, .8);
//   float: right;
// }
// #favoriteForm{
//   width: 550px;
//   margin: auto;
//   margin-bottom: 40px;
//   text-align: center;
// }
// #favesLi{
//   display: grid;
//   grid-template-columns: 400px 400px;
//   border: solid black;
//   margin-bottom: 20px;
//   background: rgba(214,203,186,.9);
//   border-radius: 20px;
// }
// #favesUl{
//   text-align: center;
//   width: 600px;
//   margin:auto;
//   text-align: center;
//   color: black;
//   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
// }
// #trashcan{
//   height: 62px;
// }
